


.navBar {
  padding-bottom: 0.1cm;
  margin-bottom: 20px;
  width: 100%;
  height: 2.7cm;
  position: fixed;
  left: 0;
  top: 0;
  display: inline-block;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.541);
}

.navBar a {
  text-decoration: none;
  color: white;
}
i {
  font-size: 20px;
}

i:hover,
a:hover {
  color:#00CDAC;
  cursor: pointer;
}

.navBar nav li {
  padding: 10px;
  margin: 20px;
  list-style-type: none;
  display: inline-block;
}

#hamMenu {
  visibility: hidden;
}


body {
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    background-size: 100cm;
    background-image:radial-gradient(#02AABD , #00CDAC);
    border-image-outset: 100%;
    
    background-size: 100cm;
  }
  * {box-sizing: border-box}
  
  /* Add padding to container elements */
  .container {
    
      padding: 20px;
        width:1000px;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
        border:1px solid #ccc;
        border-radius:10px;
        background:white;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
    box-shadow: 2px 1px 21px -9px rgba(12, 12, 12, 0.89);
    }
  
  /* Full-width input fields */
  input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
  }
  select {
    width: 18%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
  }
  
  input[type=phone] {
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
  }

 
  
  
  input[type=text]:focus,input[type=email]:focus, input[type=password]:focus, input[type=phone]:focus, select:focus {
    background-color: #b38585;
    outline: none;
  }
 
  #navv{
    padding-top: 10cm;
  }
  
  
  /* Set a style for all buttons 
  button {
    background-color: rgb(148, 219, 42);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size:16px;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    border-radius:10px;
  }*/
  
  button{
    background-image: radial-gradient(#00CDAC,#02AABD );
    color: white;
    padding: 14px 20px;
    border-radius:10px ;
  
  }
  
  button:hover {
    opacity:1;
    background-image: linear-gradient(#049fb1 , #82dacb);
  }
  
  #birthday{
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
  
  }
  
  input[type=number] {
      width: 81%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f7f7f7;
    }

     
  input[type=email] {
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
  }

  .inputBox:hover{

    background-color: rgba(238, 184, 215, 0.253);

  }

  #by:hover{
    background-image: linear-gradian(rgb(231, 165, 176),rgba(255, 192, 203, 0.486));
  }

      

  

  